body
{
text-align:center;
background-image:url(cool_gaming_background_4k_by_skullbreaker000_dehn7hz-fullview.jpg);   
}
p
{
color:aqua;
font-style: normal;
font-family: inherit;
font-size:20px;
}